body, html {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #f0f0f0;
}

.game-container {
  position: relative;
  width: 90%;
  max-width: 1200px;
  aspect-ratio: 4 / 2;
  border: 2px solid #333;
}

canvas {
  width: 100%;
  height: 100%;
}

#restartButton, #fullExperienceButton {
  display: none;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 18px;
  background-color: #333;
  color: white;
  text-align: center;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

#fullExperienceButton {
  top: 65%; /* Position it slightly below the restart button */
  background-color: #555; /* Differentiated color for the "full experience" button */
}
